{
    "mcpServers": {
        "codebase-memory-mcp": {
            "command": "%USERPROFILE%/.local/bin/codebase-memory-mcp.exe"
        },
        "epidemic-sound": {
            "url": "https://www.epidemicsound.com/a/mcp-service/mcp"
        }
    }
}
